{#
/**
 * Banner (Single project)
 *
 */
#}

{% import "macros.twig" as macros %}


<div class="banner-single-project-wrapper banner-wrapper">
  <div class="l-container --h-padding">
    <section class="banner-single-project">

      <div class="banner-single-project__inner">
        <div class="banner-single-project__heading">
          <time class="banner-single-project__date" datetime="{{ post.date('Y-m-d') }}">{{ post.date }}</time>
          <h1 class="banner-single-project__title section-title" data-splitting data-aos="title-split-down">{{ fields.banner_title }}</h1>
          
          <div class="banner-single-project__metas">
            <h2 class="banner-single-project__client h3" data-aos="fade-up-smooth" data-aos-delay="500" data-aos-anchor-placement=".banner-wrapper">{{ post.title }}</h2>
            {% if post.terms %}
              <ul class="banner-single-project__list-cat" data-aos="fade-up-smooth" data-aos-delay="600" data-aos-anchor-placement=".banner-wrapper">
                {% for term in post.terms('cat_project') %}
                  <li>{{ term.name }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        
        <figure class="banner-single-project__figure image-figure" data-aos="slide-image-big" data-aos-delay="600">
          <div class="image-wrapper --aspect-ratio --box-shadow --bg-shadow --rotated">
            <svg class="motif-rosace"><use xlink:href="#rosace"></use></svg>
            {{ macros.get_featured_image( post, 'banner', 'large' ) }}
          </div>
        </figure>
        
      </div>  {# end .banner-XXX-inner #}
      
    </section>  {# end .banner-XXX #}
  </div>  {# end .l-container #}
</div>    {# end .banner-XXX-wrapper #}
