
{% set footer = acf_options.footer %}

<footer class="footer-site">

      <div class="footer-row1">

        <div class="footer-site__inner l-container --large">

          <div class="footer-row1__left">
            <a href="{{ site.url }}" class="footer-brand" aria-label="{{ pll__('Accueil') }}">
              <svg class="footer-logo" aria-hidden="true"><use xlink:href="#logo-cmb"></use></svg>
            </a>

            {% include "partials/nav-social.twig" %}          
          </div>

          {% include "partials/nav-footer.twig" %}          

          
          <div class="footer-newsletter__wrapper">
            <aside class="footer-newsletter" id="footer-newsletter">
              <span class="footer-newsletter__title">{{ pll__('L’expertise Chargemap Business au service de votre flotte') }}</span>
              <span class="footer-newsletter__text">{{ pll__('Une fois par mois, des actus produits et des conseils de nos spécialistes dans votre boite mail.') }}</span>
              <form class="footer-newsletter__form" method="post" action="#">
                <div class="footer-newsletter__input-wrapper">
                  <input type="email" placeholder="{{ pll__('Votre e-mail') }}" value="" name="email">
                  <button type="submit" class="btn-newsletter">
                    <svg class="icon"><use xlink:href="#icon-mail2"></use></svg>
                  </button>
                </div>
              </form>
              <span class="footer-newsletter__feedback"></span>
            </aside>
          </div>

        </div>

      </div>

      <div class="footer-row2">
        <div class="footer-site__inner l-container --large">
          {% include "partials/nav-legal.twig" %}
        </div>
      </div>

</footer>

