<header class="header-site" id="header-site">

  <div class="header-site__inner l-container --large">

    <a href="{{ site.url }}" class="header-brand" aria-label="Accueil">
      <svg aria-hidden="true"><use xlink:href="#logo-cmb"></use></svg>
    </a>

    <div class="nav-responsive-container" id="nav-responsive-container">

      {% include "partials/nav-primary.twig" %}

      {% if acf_options.page_contact %}
        <a href="{{ TimberPost(acf_options.page_contact).link }}" class="btn-contact-mobile btn --stretch-mobile --outline-mobile" aria-label="Contact">
          {{ pll__( 'Contactez-nous' ) }}
        </a>
      {% endif %}

    </div>

    <div class="nav-header-right">
      <a href="{{ pll__( 'url_memberarea' ) }}" class="btn-login btn --link">{{ pll__( 'Se connecter' ) }}</a>

      {% if acf_options.page_contact %}
        <a href="{{ TimberPost(acf_options.page_contact).link }}" class="btn-contact btn --small" aria-label="Contact">
          {{ pll__( 'Contactez-nous' ) }}
        </a>
      {% endif %}
    </div>
    
    {# {% include "partials/lang-switcher.twig" %} #}

    <button class="btn-burger d-flex d-xl-none" id="btn-burger" aria-label="menu">
      <span class="btn-burger__icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>

  </div>
</header>
