{% if nav_footer %}
    <nav class="nav-footer">
        <ul class="nav-footer__menu">
            {% for item in nav_footer.items %}
                <li class="{{ item.classes | join(' ') }} nav-footer__item --is-depth0">
                    <a {{ setLinkAttributes(item) }} class="nav-footer__link">{{ item.title }}</a>

                    {% if item.children %}
                        <ul class="sub-menu">
                            {% for child in item.children %}
                                <li class="{{ child.classes | join(' ') }} nav-footer__item --is-depth1">
                                    <a {{ setLinkAttributes(child) }} class="nav-footer__link">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}


