{#
/**
 * Block Name: Block Call To Action (Agence, Notre différence)
 *
 */
#}

{% import "macros.twig" as macros %}


<div class="block-cta-wrapper block-wrapper">
  <div class="l-container --h-padding">
    <section class="{{ block.classes }}" id="{{ block.id }}">

      <div class="block-cta__left">
        <h2 class="block-cta__title section-title u-color-primary-medium u-remove-line-break" data-splitting data-aos="title-split-down">{{ fields.title }}</h2>
        {% if fields.editor_text %}
          <div class="block-cta__text editor-text" data-aos="fade-up" data-aos-delay="100">{{ fields.editor_text }}</div>
        {% endif %}
      </div>

      {# <div class="block-cta__right" data-parallax data-parallax-rate-y="-1.05"  data-parallax-rate-x="0.35" data-parallax-amp-rotate="-10"> #}
      <div class="block-cta__right" data-aos="slide-image-small" data-aos-delay="700">
        {% if fields.link %} 
          <div class="block-cta__btn-wrapper">
            <a href="{{ fields.link.url|e('esc_url') }}" class="btn-circle" data-aos="zoom-in" data-aos-duration="350" data-aos-delay="950">
              <h4 class="btn-circle__label">{{ fields.link.title }}</h4>
            </a>
          </div>
        {% endif %}

        {% if fields.image %} 
          <figure class="block-cta__figure image-figure">
            <div class="image-wrapper --aspect-ratio --box-shadow --bg-shadow --rotated">
              <svg class="motif-dots"><use xlink:href="#four-dots"></use></svg>
              <img src="{{ fields.image.sizes.medium_large }}" alt="{{ fields.image.alt }}" />
            </div>
          </figure>
        {% endif %}
      </div>

    </section>  {# end .block #}
  </div>  {# end .l-container #}
</div>    {# end .block-wrapper #}
