{#
/**
 * Block Name: Block Image Text
 *
 */
#}

<section class="{{ block.classes }}" id="{{ block.id }}">
    <div class="panel l-container {{ display }}">

        <div class="panel__content editor">
            {% if suptitle %}
                <span class="suptitle">{{ suptitle }}</span>
            {% endif %}
            {% if title %}
                <h2>{{ title }}</h2>
            {% endif %}
            {% if wysi %}
                <div class="wysi">{{ wysi }}</div>
            {% endif %}
            {% if link_cta.url %}
                <a {{ setLinkAttributes( link_cta ) }} class="btn --stretch-mobile --outline-mobile">{{ link_cta.title }}</a>
            {% endif %}
        </div>

        <div class="panel__image">

            {% if image %}
                {% if link_cta.url %}
                    <a {{ setLinkAttributes( link_cta ) }} class="panel__image-link">
                {% endif %}
                
                <figure class="ratio-4-3">
                    {{ getRwdImage( image.id, 'cover', 'standard',  { class:'u-border-radius u-image-cover' } ) }}
                </figure>

                {% if link_cta.url %}
                    </a>
                {% endif %}
            {% endif %}
            
        </div>
  
  </div>    {# end .block-container #}
</section>  {# end .block #}