{#
/**
 * Block Name: Block Webinar replay
 *
 */
#}

<section class="{{ block.classes }} {{ display }}" id="{{ block.id }}">
  

    {% if title %}
        <div class="l-container">
            <h2 class="title-block u-text-center">{{ title|titleColor }}</h2>
        </div>
    {% endif %}
    
    {% if items|length %}
        
        <div class="slider-cards-webinar__wrapper">
            <div class="slider-flickity-controls">
                <button type="button" class="btn-flickity --prev" aria-label="{{ pll__('Précédent') }}">
                    <svg class="btn-flickity__icon icon" aria-hidden="true"><use xlink:href="#icon-arrow"></use></svg>
                </button>
                <button type="button" class="btn-flickity --next" aria-label="{{ pll__('Suivant') }}">
                    <svg class="btn-flickity__icon icon" aria-hidden="true"><use xlink:href="#icon-arrow"></use></svg>
                </button>
            </div>

            <div class="slider-cards-webinar custom-scrollbar">
                {% for item in items %}

                    {% if item.link.url and item.image %}
                        <a {{ setLinkAttributes( item.link ) }} class="card-webinar">
                            {% if item.image %}
                                <figure class="ratio-1-1">
                                    {{ getRwdImage( item.image.id, 'card-webinar', 'standard',  { class:'u-border-radius u-image-cover' } ) }}
                                </figure>
                            {% endif %}
                            {% if item.title %}
                                <h3 class="title">{{ item.title }}</h3>
                            {% endif %}
                            <span class="btn --stretch-mobile --outline-mobile">{{ pll__('Voir le replay') }}</span>
                        </a>
                    {% endif %}
                    
                {% endfor %}
            </div>
        
        </div>

    {% endif %}
  
</section>  {# end .block #}