{#
/**
 * Block Name: Block Cover Video
 *
 */
#}

<section class="{{ block.classes }} {{ display }} block-cover" id="{{ block.id }}">
  <div class="block-container l-container">
    
    <div class="block-cover-video__inner">
        <div class="block-cover-video__content editor">
            {% if suptitle %}
                <span class="suptitle">{{ suptitle }}</span>
            {% endif %}
            {% if title %}
                <h1>{{ title|titleColor }}</h1>
            {% endif %}
            {% if wysi %}
                <div class="wysi">{{ wysi }}</div>
            {% endif %}
            {% if link_cta.url %}
                <a {{ setLinkAttributes( link_cta ) }} class="btn --stretch-mobile --outline-mobile">{{ link_cta.title }}</a>
            {% endif %}
        </div>

        <div class="block-cover-video__image">
            {% if image and video.url %}
                <a href="{{ video.url }}" class="btn-video" data-fancybox data-width="{{ video.width }}" data-height="{{ video.height }}">
                    <figure>
                        {{ getRwdImage( image.id, 'cover', 'cover-video',  { class:'u-border-radius u-image-cover', loading:'eager' } ) }}
                    </figure>
                    <div class="cta-video">
                        <svg class="icon"><use xlink:href="#icon-play"></use></svg>
                        <span class="label-video">{{ pll__('La solution en 1 minute') }}</span>
                    </div>  
                </a>
            {% endif %}
        </div>
    
    </div>
  
  </div>    {# end .block-container #}
</section>  {# end .block #}