{#
/**
 * Block Name: Block Tabs
 *
 */
#}

<section class="{{ block.classes }}" id="{{ block.id }}">
  <div class="block-container">

    <div class="tablist custom-scrollbar l-container" role="tablist" aria-label="{{ pll__('Onglets') }}">
        {% for tab in tabs %}
            {% if tab.tab_title %}
                <button class="tablist__btn" id="tab-{{ block.uniq_id }}-{{ loop.index }}" aria-controls="panel-{{ block.uniq_id }}-{{ loop.index }}"
                        aria-selected={{ loop.first ? 'true' : 'false' }} tabindex="0" role="tab">
                    {% if tab.tab_image %}
                        <img {{ setImgAttributes( tab.tab_image ) }} />
                    {% endif %}
                    <span>{{ tab.tab_title }}</span>
                    <svg class="icon"><use xlink:href="#icon-chevron-down"></use></svg>
                </button>
            {% endif %}
        {% endfor %}
    </div>

    <div class="panels-wrapper l-container">
        {% for tab in tabs %}
            {% if tab.tab_title %}
                <div class="panel --bg-grey {{ tab.display }}" id="panel-{{ block.uniq_id }}-{{ loop.index }}" aria-labelledby="tab-{{ block.uniq_id }}-{{ loop.index }}"
                        {{ loop.first ? '' : 'hidden' }} tabindex="0" role="tabpanel">

                        <div class="panel__content editor">
                            {% if tab.group_text.suptitle %}
                                <span class="suptitle">{{ tab.group_text.suptitle }}</span>
                            {% endif %}
                            {% if tab.group_text.title %}
                                <h2>{{ tab.group_text.title }}</h2>
                            {% endif %}
                            {% if tab.group_text.wysi %}
                                <div class="wysi">{{ tab.group_text.wysi }}</div>
                            {% endif %}
                            {% if tab.group_text.link_cta.url %}
                                <a {{ setLinkAttributes( tab.group_text.link_cta ) }} class="btn --stretch-mobile --outline-mobile">{{ tab.group_text.link_cta.title }}</a>
                            {% endif %}
                        </div>

                        <div class="panel__image">
                            {% if tab.image %}

                                {% if tab.group_text.link_cta.url %}
                                    <a {{ setLinkAttributes( tab.group_text.link_cta ) }} class="panel__image-link">
                                {% endif %}

                                <figure class="ratio-4-3">
                                    {{ getRwdImage( tab.image.id, 'cover', 'standard',  { class:'u-border-radius u-image-cover' } ) }}
                                </figure>

                                {% if tab.group_text.link_cta.url %}
                                    </a>
                                {% endif %}

                            {% endif %}
                        </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>

  </div>    {# end .block-container #}
</section>  {# end .block #}